# INFRA
ENV_NAME=development

# RABBITMQ
RABBITMQ_PROTOCOL=amqp
RABBITMQ_HOST=fetcher-rabbitmq
RABBITMQ_PORT_AMQP=3007
RABBITMQ_PORT_HOST=3008
RABBITMQ_DEFAULT_USER=plugin
RABBITMQ_DEFAULT_PASS=Lerian@123

# MONGO DB
MONGO_HOST=fetcher-mongodb
MONGO_USER=plugin
MONGO_PASSWORD=Lerian@123
MONGO_PORT=5709

# SEAWEEDFS CONFIG
SEAWEEDFS_HOST=fetcher-seaweedfs-filer
SEAWEEDFS_MASTER_PORT=9335
SEAWEEDFS_MASTER_UI_PORT=9336
SEAWEEDFS_VOLUME_PORT=9081
SEAWEEDFS_FILER_PORT=8889
SEAWEEDFS_FILER_S3_PORT=8334

# REDIS
REDIS_HOST=fetcher-valkey
REDIS_PORT=5707
REDIS_USER=plugin
REDIS_PASSWORD=Lerian@123